<header class="header container">
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo">
        <svg class="header-logo__icon" width="52" height="52">
          <use href="../src/images/symbol-defs.svg#icon-logo-header"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-list-item">Про нас</li>
        <li class="header-list-item">Послуги</li>
        <li class="header-list-item">Перевірка авто</li>
        <li class="header-list-item">Відгуки</li>
        <li class="header-list-item">Питання</li>
        <li class="header-list-item">Контакти</li>
      </ul>
    </nav>
    <a href="tel: +380967593982" class="header-contacts"
      >Звʼязатися
      <svg class="header-contacts__icon" width="24" height="24">
        <use href="../src/images/symbol-defs.svg#icon-phone-incoming-min"></use>
      </svg>
    </a>
  </div>
</header>
