
@font-face {
    font-family: 'Montserrat';
    src:  url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



