.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    // border: 1px solid red;
    @media screen and (min-width: $mobile) and (max-width: 739.98px) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding: 0 40px;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 0 60px;
    }

    @media screen and (min-width: $desktop-wide) {
        width: $desktop-wide;
        padding: 0 80px;
    }
}

.container--padding {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $tablet) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
