
$black-primary: #1A1A1A;
$black-secondary: #333333;
$black: #000000;
$black-rgb: rgba(26, 26, 26, 0.52);
$black-shadow: rgba(26, 26, 26, 0.12);
$white-primary: #FAFAFA;
$white-primary-rgb: rgba(250, 250, 250, 0.88);
$white-secondary: #F5F5F5;
$grey: #EBEBEB;
$blue-rgb: rgba(28, 100, 236, 0.12);
$accent: #1C64EC;

