
$black-primary: #1A1A1A;
$black-secondary: #333333;
$black: #000000;
$white-primary: #FAFAFA;
$white-primary-rgb: rgba(250, 250, 250, 0.88);
$white-secondary: #F5F5F5;
$grey: #EBEBEB;
$blue-ac—Åent: #1C64EC;

