$black: #000000;
$black-secondary: #333333;
$black-primary: #1A1A1A;
$black-rgb-card:rgba(51, 51, 51, 0.08);
$black-shadow: rgba(26, 26, 26, 0.12);
$grey-bottom: rgba(26, 26, 26, 0.16);
$black-rgb: rgba(26, 26, 26, 0.52);
$black-shadow: rgba(51, 51, 51, 0.24);
$primary-background-color: rgba(245, 245, 245, 1);
$white-primary: #FAFAFA;
$white-secondary: #F5F5F5;
$grey: #EBEBEB;
$grey-primary-rgb: rgba(250, 250, 250, 0.16);
$white-primary-rgb: rgba(250, 250, 250, 0.72);
$white-rgb: rgba(250, 250, 250, 1);
$blue-rgb: rgba(28, 100, 236, 0.12);
$accent: #1C64EC;
