// Font weight
$light: 200;
$regular: 400;
$medium: 500;
$medium-second: 600;
$bold: 700;

// font-size
$font-size-pimary: 16px;
$font-size-secondary: 14px;
// $font-size-secondary2: 1.5;
// $font-size-thirdery: 2.4;

// line-height
$pimary: 1.21;
$secondary: 1.6;
$secondary2: 1.5;
$thirdery: 2.4;

// Breakpoints
$mobile: 375px;
$tablet: 744px;
$desktop: 1280px;
$desktop-wide: 1440px;

// gap
$gap-primary: 12px;
$gap-secondary: 24px;
$gap-thirdery: 20px;

// transition
$transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
