// Font weight
$regular: 400;
$medium: 500;
$bold: 700;

// line-height
$pimary: 1.21;
$secondary: 1.6;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$desktop-wide: 1440px;

// gap
$gap-primary: 12px;
