<div class="mobile-menu">
    <nav class="header-nav-mobile container">
        <ul class="header-list-mobile">
            <li class="header-list-item">
                <a href="#section-about">Про нас</a>
            </li>
            <li class="header-list-item">
                <a href="#section-services">Послуги</a>
            </li>
            <li class="header-list-item">
                <a href="#section-inspection">Перевірка авто</a>
            </li>
            <li class="header-list-item">
                <a href="#section-clients">Відгуки</a>
            </li>
            <li class="header-list-item">
                <a href="#section-faq">Питання</a>
            </li>
            <li class="header-list-item">
                <a href="#section-contacts">Контакти</a>
            </li>
        </ul>
    </nav>
</div>
