<footer class="footer">
    <div class="container container--footer">
        <div class="footer-wraper">
            <!-- logo and info -->
            <div>
                <svg class="footer-logo">
                    <use
                        href="../src/images/symbol-defs.svg#icon-logo-footer-min"
                    ></use>
                </svg>

                <p class="footer-text">
                    Професійний автопідбір. Експертний огляд автомобіля. Підбір
                    авто під ключ.
                </p>
            </div>
            <!-- links -->
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="#section-about">Про нас</a>
                </li>
                <li class="footer-item">
                    <a href="#section-services">Послуги</a>
                </li>
                <li class="footer-item">
                    <a href="#section-inspection">Перевірка авто</a>
                </li>

                <li class="footer-item">
                    <a href="#section-clients">Відгуки</a>
                </li>
                <li class="footer-item">
                    <a href="#section-faq">Питання</a>
                </li>
                <li class="footer-item">
                    <a href="#section-contacts">Контакти</a>
                </li>
            </ul>
            <!-- developers -->
            <div class="footer-wraper-creators">
                <a
                    class="footer-wraper-creators__item"
                    href="https://www.linkedin.com/in/burkatska/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Design by @Burkatska</a
                >
                <a
                    class="footer-wraper-creators__item"
                    href="https://www.linkedin.com/in/stanislav-h-812901233/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Development by @Husiev</a
                >
            </div>
        </div>
        <p class="footer-data">© 2024 AUTO TRADE KYIV</p>
        <!-- button click to up  -->
        <a href="#header">
            <svg class="button-to-up" width="24" height="24">
                <use href="../src/images/symbol-defs.svg#icon-arrow-min"></use>
            </svg>
        </a>
    </div>
</footer>
