<header id="header" class="container container--header">
    <div class="header-wraper">
        <div class="header-logo">
            <svg class="header-logo-icon">
                <use
                    href="../src/images/symbol-defs.svg#icon-logo-header"
                ></use>
            </svg>
        </div>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item">
                    <a href="#section-about">Про нас</a>
                </li>
                <li class="header-list-item">
                    <a href="#section-services">Послуги</a>
                </li>
                <li class="header-list-item">
                    <a href="#section-inspection">Перевірка авто</a>
                </li>
                <li class="header-list-item">
                    <a href="#section-clients">Відгуки</a>
                </li>
                <li class="header-list-item">
                    <a href="#section-faq">Питання</a>
                </li>
                <li class="header-list-item">
                    <a href="#section-contacts">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="wrapper-for-burger">
            <p class="menu">Меню</p>
            <div class="header-burger-menu">
                <svg class="header-burger-menu-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-burger-menu"></use>
                </svg>

                <svg
                    class="header-burger-menu-icon-cross"
                    width="22"
                    height="22"
                >
                    <use href="./images/symbol-defs.svg#icon-cross-min"></use>
                </svg>
            </div>
        </div>
        <a href="tel: +380967593982" class="header-contacts"
            >Звʼязатися
            <svg class="header-contacts__icon" width="24" height="24">
                <use
                    href="../src/images/symbol-defs.svg#icon-phone-incoming-min"
                ></use>
            </svg>
        </a>
    </div>
</header>
