<section class="services" id="section-services">
  <div class="container container--position">
    <h2 class="section-title">
      <span class="section-title-word">пакети </span><br />Послуг
    </h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-item__wraper">
          <h3 class="services-title">Виїзна діагностика</h3>
          <div class="services-price text-black">від 1 500 грн</div>
          <ul class="services-list-card">
            <li class="services-list-card__item">
              <p class="services-list-card__text">- Консультування</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text">
                - Пошук, відбір та юридична перевірка
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Технічна діагностика 1 (одного) авто
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">+ Тест-драйв</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text">- Огляд на підйомнику</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text">- Торг із продавцем</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text">- Супровід угоди</p>
            </li>
          </ul>
          <button class="btn btn-ligth" type="button">замовити</button>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__wraper">
          <h3 class="services-title">Підбір під ключ</h3>
          <div class="services-price text-black">від 17 000 грн</div>
          <ul class="services-list-card">
            <li class="services-list-card__item text-black">
              <p>+ Консультування</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Пошук, відбір та юридична перевірка
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Технічна діагностика 1 (одного) авто
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">+ Тест-драйв</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Огляд на підйомнику
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Торг із продавцем
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Супровід угоди
              </p>
            </li>
          </ul>
          <button class="btn btn-ligth" type="button">замовити</button>
        </div>
      </li>
      <li class="services-item">
        <div class="services-item__wraper">
          <h3 class="services-title">Виїзна діагностика</h3>
          <div class="services-price text-black">від 7 000 грн</div>
          <ul class="services-list-card">
            <li class="services-list-card__item">
              <p class="services-list-card__text">- Консультування</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text">
                - Пошук, відбір та юридична перевірка
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Технічна діагностика 1 (одного) авто
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">+ Тест-драйв</p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Огляд на підйомнику
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Торг із продавцем
              </p>
            </li>
            <li class="services-list-card__item">
              <p class="services-list-card__text text-black">
                + Супровід угоди
              </p>
            </li>
          </ul>
          <button class="btn btn-ligth" type="button">замовити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
