<section class="hero">
  <div class="container">
    <div class="hero-location">
      <svg class="header-location__icon" width="24" height="24">
        <use href="../src/images/symbol-defs.svg#icon-location-min"></use>
      </svg>
      <p class="header-location__text">місто Київ та вся Україна</p>
    </div>
    <h1 class="main-title">
      Персоналізований підбір та діагностика авто з пробігом
    </h1>
    <button class="btn" type="button">Підібрати авто</button>
    <table class="hero-table">
      <tr>
        <td class="hero-table__column">
          <p class="hero-table__text">
            <span class="hero-table__element">9</span> <br />
            років досвіду
          </p>
        </td>

        <td class="hero-table__column">
          <p class="hero-table__text">
            <span class="hero-table__element">1 000+</span> <br />
            задоволених клієнтів
          </p>
        </td>
        <td class="hero-table__column">
          <p class="hero-table__text">
            <span class="hero-table__element">$600k+</span> <br />
            заощаджених коштів
          </p>
        </td>
        <td class="hero-table__column">
          <p class="hero-table__text">
            <span class="hero-table__element">10 000+</span> <br />
            перевірених авто
          </p>
        </td>
      </tr>
    </table>
  </div>
</section>
