<section class="clients section-light" id="section-clients">
  <div class="container">
    <h2 class="section-title">
      <span class="section-title-word">люди </span><br />говорять
    </h2>
    <div class="clients-wraper">
      <div class="client-img-wraper">
        <img alt="" />
      </div>
      <div class="clients-discription">
        <h3 class="clients-title">
          Наші клієнти про результати співпраці з нами
        </h3>
        <p class="clients-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
          in ducimus, sed dolorum quam accusamus, adipisci tempora vero ullam,
          consequuntur dolore neque! Architecto ipsa eos aliquid nostrum et
          eveniet rerum?
        </p>
        <h4 class="clients-subtitle">Олександр</h4>
        <p class="clients-text--bt">Hyundai Sonata 2012 11500$</p>
        <div class="clients-wraper-btn">
          <button class="inspection-btn rotate-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-arrow-min"></use>
            </svg>
          </button>
          <button class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-arrow-min"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
