<section class="clients section-light" id="section-clients">
    <div class="container container--clients-position">
        <h2 class="section-title">
            <span class="section-title-word">люди </span><br />говорять
        </h2>
        <h3 class="clients-title">
            Наші клієнти про результати співпраці з нами
        </h3>

        <div class="clients-gallery">
            <ul class="clients-list">
                <li class="clients-item">
                    <div class="client-img-wraper">
                        <img
                            class="client-img"
                            srcset="
                                ./images/clients/OlexandraLut.jpg    1x,
                                ./images/clients/OlexandraLut@2x.jpg 2x
                            "
                            src="./images/clients/OlexandraLut.jpg"
                            alt="Фото дівчини, яка стоїть з букетом квітів на фоні новобудови та свого авто - Suzuki Swift 2008 року"
                            loading="lazy"
                        />
                    </div>
                    <div class="clients-discription">
                        <h4 class="clients-subtitle">Олександра</h4>
                        <p class="clients-text">
                            Олександра Зверталась у 2021 році за допомогою у
                            підборі авто, і вже зі спливом 2х років, можу із
                            впевненістю порадити Василя! Дійсно чесний і
                            порядний професіонал своєї справи. Допоміг
                            зекономити і час і гроші при підборі авто. Машинку
                            підібрав просто найкращу, враховуючи мій бюджет. За
                            2 роки жодного разу не підвела, хоча і не набагато
                            молодше мене:) Вказував на всі недоліки потенційних
                            авто, і допоміг зробити правильний вибір!
                        </p>
                    </div>
                </li>
                <li class="clients-item">
                    <div class="client-img-wraper">
                        <img
                            srcset="
                                ./images/clients/Vovka.jpg    1x,
                                ./images/clients/Vovka@2x.jpg 2x
                            "
                            src="./images/clients/Vovka.jpg"
                            alt="Фото чоловіка, яка стоїть у дуже крутій позі заховавши руки у кишені на фоні свого авто - Honda"
                            loading="lazy"
                        />
                    </div>
                    <div class="clients-discription">
                        <h4 class="clients-subtitle">Володимир</h4>
                        <p class="clients-text">
                            Не вперше замовляю підбір авто в даній компанії,
                            завжди залишаюсь задоволеним. Машину шукаємо скільки
                            потрібно, поки не знайдемо гарний варіант. Завжди
                            прислуховуються до побажань та дають поради. Якщо
                            потрібно, допоможуть вирішити складнощі. В моєму
                            випадку підібрали, перевірили та пригнали мені авто
                            в інше місто. Я вкотре лишився задоволений.
                            Рекомендую.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="wrapper-for-btn">
                <button
                    type="button"
                    class="inspection-btn rotate-btn clients-btn-prev"
                >
                    <svg class="inspection-svg">
                        <use
                            href="./images/symbol-defs.svg#icon-arrow-min"
                        ></use>
                    </svg>
                </button>
                <button type="button" class="inspection-btn clients-btn-next">
                    <svg class="inspection-svg">
                        <use
                            href="./images/symbol-defs.svg#icon-arrow-min"
                        ></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
