<section class="faq bg-black" id="section-faq">
    <div class="container container--faq">
        <h2 class="section-title section-title--faq">
            <span class="section-title-word section-title-word-faq"
                >ви запитуєте -</span
            ><br />ми відповідаємо
        </h2>
        <div class="faq-wraper">
            <p class="faq-text">
                Враховуйте те, що при пошуку автомобіля ми завжди починаємо з
                автомобілів без ДТП, забарвлень, з прозорою історією
                обслуговування та мінімальним реальним пробігом
            </p>

            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Як відбувається процес підбору авто?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Спочатку визначаємо 1-3 автомобілі, відповідні Вашим
                        вимогам та бюджету, з орієнтацією на середню ціну, не
                        нижчу. Після підсумкового аналізу ринку щодо обраних
                        автомобілів, узгоджуємо вартість нашої роботи.
                    </p>
                </li>
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Чому у вас дорожче, ніж в інших?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Дійсно, ви точно знайдете дешевше. Ми високо цінуємо
                        свій досвід і знання неухильно дотримуючись високих
                        стандартів. Наша репутація гарантує якість нашої роботи.
                        Нам не потрібно багато замовлень, оскільки ми працюємо
                        на результат і завжди прагнемо до задоволення наших
                        клієнтів.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
