<footer class="footer">
  <div class="container container--footer">
    <div class="footer-wraper">
      <svg class="" width="156" height="156">
        <use href="../src/images/symbol-defs.svg#icon-logo-footer-min"></use>
      </svg>
      <p class="footer-text">
        Професійний автопідбір. Експертний огляд автомобіля. Підбір авто під
        ключ. Київ та вся Україна
      </p>
      <p class="footer-data">© 2023 AUTO TRADE KYIV</p>
    </div>
    <ul class="footer-list">
      <li class="footer-item">
        <a href="#section-about">Про нас</a>
      </li>
      <li class="footer-item">
        <a href="#section-qualities">Переваги</a>
      </li>
      <li class="footer-item">
        <a href="#section-services">Послуги</a>
      </li>
      <li class="footer-item">
        <a href="#section-clients">Відгуки</a>
      </li>
      <li class="footer-item">
        <a href="#section-faq">Питання</a>
      </li>
      <li class="footer-item">
        <a href="#section-contacts">Контакти</a>
      </li>
    </ul>

    <div class="footer-wraper-creators">
      <p class="footer-data">
        Design by @Iryna Burkatska <br />
        Development by @Stanislav Husiev
      </p>
    </div>
  </div>
</footer>
