<section class="stages bg-white">
    <div class="container">
        <h2 class="section-title">
            <span class="section-title-word">етапи</span><br />роботи
        </h2>
        <div class="stages-wraper">
            <ul class="stages-list">
                <li class="stages-list__item">1</li>
                <li class="stages-list__item">2</li>
                <li class="stages-list__item">3</li>
                <li class="stages-list__item">4</li>
                <li class="stages-list__item">5</li>
            </ul>
            <ul class="stages-list-action">
                <li class="stages-list-action__item">
                    <h3 class="stages-list__title">Юридична перевірка</h3>
                    <p class="stages-list__text">
                        Перевірка історії автомобіля та його власника, пошук у
                        реєстрах на предмет обмежень та фінансових ризиків
                    </p>
                    <svg class="stages-list__icon first-icon">
                        <use
                            class="stages-list__icon-mobile"
                            href="./images/symbol-defs.svg#icon-vector-mobile"
                        ></use>
                        <use
                            class="stages-list__icon-tablet"
                            href="./images/symbol-defs.svg#icon-vector-tablet"
                        ></use>
                        <use
                            class="stages-list__icon-desktop"
                            href="./images/symbol-defs.svg#icon-vector-desktop-1"
                        ></use>
                    </svg>
                </li>
                <li class="stages-list-action__item">
                    <h3 class="stages-list__title">Технічна діагностика</h3>
                    <p class="stages-list__text">
                        Комплексна діагностика стану автомобіля з використанням
                        спеціальних технічних засобів і знань наших експертів
                    </p>
                    <svg class="stages-list__icon second-icon">
                        <use
                            class="stages-list__icon-mobile"
                            href="./images/symbol-defs.svg#icon-vector-mobile"
                        ></use>
                        <use
                            class="stages-list__icon-tablet"
                            href="./images/symbol-defs.svg#icon-vector-tablet"
                        ></use>
                        <use
                            class="stages-list__icon-desktop"
                            href="./images/symbol-defs.svg#icon-vector-desktop-2"
                        ></use>
                    </svg>
                </li>
                <li class="stages-list-action__item">
                    <h3 class="stages-list__title">Тест-драйв</h3>
                    <p class="stages-list__text">
                        Саме тут працює наш досвід в автоспорті, а також у
                        продажі, ремонті, відновленні та просто володінні
                        багатьма автомобілями
                    </p>
                    <svg class="stages-list__icon thirdery-icon">
                        <use
                            class="stages-list__icon-mobile"
                            href="./images/symbol-defs.svg#icon-vector-mobile"
                        ></use>
                        <use
                            class="stages-list__icon-tablet"
                            href="./images/symbol-defs.svg#icon-vector-tablet"
                        ></use>
                        <use
                            class="stages-list__icon-desktop"
                            href="./images/symbol-defs.svg#icon-vector-desktop-2"
                        ></use>
                    </svg>
                </li>
                <li class="stages-list-action__item">
                    <h3 class="stages-list__title">Торг</h3>
                    <p class="stages-list__text">
                        У більшості випадків скидаємо досить  багато. Рекорд 2020
                        року – 70 000 грн. Не беремо за це відсотків, це наш
                        бонус клієнтам
                    </p>
                    <svg class="stages-list__icon fourthery-icon">
                        <use
                            class="stages-list__icon-mobile"
                            href="./images/symbol-defs.svg#icon-vector-mobile"
                        ></use>
                        <use
                            class="stages-list__icon-tablet"
                            href="./images/symbol-defs.svg#icon-vector-tablet"
                        ></use>
                        <use
                            class="stages-list__icon-desktop"
                            href="./images/symbol-defs.svg#icon-vector-desktop-3"
                        ></use>
                    </svg>
                </li>
                <li class="stages-list-action__item">
                    <h3 class="stages-list__title">Перереєстрація авто</h3>
                    <p class="stages-list__text">
                        Звернення до сервісного центру МВС та отримання нових
                        реєстраційних документів для клієнта
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
