<section class="qualities">
  <div class="container">
    <div class="qualities-wraper">
      <!-- <div class="qualities-wpaper-element"> -->
      <h2 class="section-title qualities-title">
        <span class="section-title-word section-title-word--color">нас</span
        ><br />
        обирають
      </h2>
      <ul class="qualities-list">
        <li class="qualities-item">
          <svg width="32" height="32">
            <use href="../src/images/symbol-defs.svg#icon-star-min"></use>
          </svg>
          <div class="qualities-item_wraper">
            <h3 class="qualities-item__title">Якісно</h3>
            <p class="qualities-item__text">
              Кожну діагностику і підбір автомобіля ми проводимо з такою самою
              ретельністю і уважністю, наче обираємо авто для себе особисто.
              Ніяк інакше. Без виключень
            </p>
          </div>
        </li>
        <li class="qualities-item">
          <svg width="32" height="32">
            <use href="../src/images/symbol-defs.svg#icon-time-min"></use>
          </svg>
          <div class="qualities-item_wraper">
            <h3 class="qualities-item__title">Швидко</h3>
            <p class="qualities-item__text">
              Вашому замовленню приділяється максимум уваги і часу. Тому
              середній термін підбору в нашій компанії становить лише два тижні
            </p>
          </div>
        </li>
        <li class="qualities-item">
          <svg width="32" height="32">
            <use href="../src/images/symbol-defs.svg#icon-money-min"></use>
          </svg>
          <div class="qualities-item_wraper">
            <h3 class="qualities-item__title">Вигідно</h3>
            <p class="qualities-item__text">
              Кожному клієнту ми також економимо в середньому від $500 до $1000
              при покупці авто
            </p>
          </div>
        </li>
        <li class="qualities-item">
          <svg width="32" height="32">
            <use
              href="../src/images/symbol-defs.svg#icon-user-certification-min"
            ></use>
          </svg>
          <div class="qualities-item_wraper">
            <h3 class="qualities-item__title">Надійно</h3>
            <p class="qualities-item__text">
              За останні девʼять років ми зарекомендували себе на ринку і
              встановили сильні партнерські зв'язки. Ми маємо безліч позитивних
              відгуків та широку базу постійних клієнтів
            </p>
          </div>
        </li>
        <li class="qualities-item">
          <svg width="32" height="32">
            <use
              href="../src/images/symbol-defs.svg#icon-document-security-min"
            ></use>
          </svg>
          <div class="qualities-item_wraper">
            <h3 class="qualities-item__title">Безпечно</h3>
            <p class="qualities-item__text">
              Наша співпраця з клієнтом завжди супроводжується укладенням
              договору, який надає Вам повну гарантію результату
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
