<section class="hero">
    <div class="container">
        <div class="hero-wraper">
            <div class="hero-location">
                <svg class="header-location__icon" width="24" height="24">
                    <use
                        href="../src/images/symbol-defs.svg#icon-location-min"
                    ></use>
                </svg>
                <p class="header-location__text">місто Київ та вся Україна</p>
            </div>
            <h1 class="main-title">
                Персоналізований підбір та діагностика авто з пробігом
            </h1>

            <a
                href="https://t.me/usernameYSV"
                target="_blank"
                rel="noopener noreferrer"
            >
                <button class="btn" type="button">Підібрати авто</button>
            </a>
        </div>
        <div class="hero-table">
            <div class="hero-table-item">
                <p class="hero-table-number">9</p>
                <p class="hero-table-text">років досвіду</p>
            </div>
            <div class="hero-table-item">
                <p class="hero-table-number">1 000+</p>
                <p class="hero-table-text">задоволених клієнтів</p>
            </div>
            <div class="hero-table-item">
                <p class="hero-table-number">$600k+</p>
                <p class="hero-table-text">заощаджених коштів</p>
            </div>
            <div class="hero-table-item">
                <p class="hero-table-number">>10 000</p>
                <p class="hero-table-text">перевірених авто</p>
            </div>
        </div>
    </div>
</section>
