<section class="faq bg-black" id="section-faq">
    <div class="container container--faq">
        <h2 class="section-title section-title--faq">
            <span class="section-title-word section-title-word-faq"
                >ви запитуєте -</span
            ><br />ми відповідаємо
        </h2>
        <div class="faq-wraper">
            <p class="faq-text">
                Враховуйте те, що при пошуку автомобіля ми завжди починаємо з
                автомобілів без ДТП, забарвлень, з прозорою історією
                обслуговування та мінімальним реальним пробігом
            </p>

            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Як відбувається процес підбору авто?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Спочатку визначаємо 1-3 автомобілі, відповідні Вашим
                        вимогам та бюджету, з орієнтацією на середню ціну, не
                        нижчу. Після підсумкового аналізу ринку щодо обраних
                        автомобілів, узгоджуємо вартість нашої роботи.
                    </p>
                </li>
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Чому у вас дорожче, ніж в інших?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Дійсно, ви точно знайдете дешевше. Ми високо цінуємо
                        свій досвід і знання неухильно дотримуючись високих
                        стандартів. Наша репутація гарантує якість нашої роботи.
                        Нам не потрібно багато замовлень, оскільки ми працюємо
                        на результат і завжди прагнемо до задоволення наших
                        клієнтів.
                    </p>
                </li>
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Чим я ризикую самостійно купуючи автомобіль?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Самостійно купуючи автомобіль, ви ризикуєте не отримати
                        повну картину про технічний стан та історію автомобіля.
                        Без відповідного досвіду і знань у сфері автомобільного
                        ринку, ви можливо не помітите потенційних проблем або
                        недоліків, що можуть призвести до дорогих ремонтів у
                        майбутньому. Також, купуючи авто самостійно, ви
                        ризикуєте стати жертвою шахраїв або купити автомобіль з
                        прихованими проблемами. Вибір професійної компанії для
                        підбору автомобіля може забезпечити вам мир і
                        впевненість у вашій покупці, оскільки вони здійснюють
                        комплексний аналіз кожного автомобіля та надають
                        гарантії якості.
                    </p>
                </li>
                <li class="faq-item">
                    <div class="faq-item-wrapper">
                        <p class="faq-item__title">
                            Які у мене є гарантії результату?
                        </p>
                        <svg class="faq-icon" width="22" height="22">
                            <use
                                href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"
                            ></use>
                        </svg>
                    </div>
                    <p class="faq-item__text">
                        Ми розуміємо, що для вас важливий результат. Наша
                        компанія надає гарантії якості нашої роботи та
                        результатів, які ми досягаємо. Ми працюємо з вами від
                        самого початку до завершення процесу, забезпечуючи вас
                        персоналізованою увагою та професійним підходом. Ми
                        використовуємо наші знання і досвід, щоб забезпечити вам
                        найкращий результат і задоволеність вашою покупкою. Наша
                        мета - забезпечити вас якісним автомобілем, який
                        повністю відповідає вашим потребам і очікуванням.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
