<section class="order-bottom">
  <div class="container container--flex container--color-bgr">
    <h2 class="order-title order-title--bottom">Давайте зідзвонимося</h2>
    <p class="order-text order-text--bottom">
      Якщо у Вас є будь-які питання, ми будемо раді на них відповісти. Просто
      заповніть форму і ми звʼяжемося з Вами найближчим часом
    </p>
    <form class="order-form order-form--bottom">
      <label class="order-form__label">
        <input
          type="text"
          class="order-form__input order-form__input--bottom"
          name="name"
          placeholder="Ваше імʼя"
          required
        />
      </label>
      <label class="order-form__label">
        <input
          type="tel"
          class="order-form__input order-form__input--bottom"
          name="phone"
          placeholder="+380 00 000 00 00"
          required
        />
        <img
          class="order-form-icon"
          width="24"
          height="24"
          src="./images/flag-ukraine.png"
          alt=""
        />
      </label>
      <button type="submit" class="btn">замовити дзвінок</button>
    </form>
    <div class="order-bottom-bgr">
      <img
        src="./images/section-order-bottom.png"
        alt="Напис безкоштовно позаду фону"
      />
    </div>
  </div>
</section>
