<section class="inspection" id="section-inspection">
  <div class="container">
    <h2 class="section-title">
      <span class="section-title-word">що саме </span><br />перевіряємо
    </h2>
    <ul class="inspection-list">
      <li class="inspection-item">
        <div class="inspection-wraper">
          <img
            class="inspection-img"
            srcset="
              ./images/section-inspection-auto.jpg    1x,
              ./images/section-inspection-auto@2x.jpg 2x
            "
            src="./images/section-inspection-auto.jpg"
            alt="Фотокартка автомобіля з відкритим капотом, який стоїть на станції обслуговування"
          />
        </div>
      </li>
      <li class="inspection-item">
        <div class="inspection-wraper">
          <img
            class="inspection-img"
            srcset="
              ./images/section-inspection-auto2.jpg    1x,
              ./images/section-inspection-auto2@2x.jpg 2x
            "
            src="./images/section-inspection-auto2.jpg"
            alt="Рука майстра, яка тримає фарбомір, та проводить виміри пошкоджень автомобіля"
          />
        </div>
      </li>
      <li class="inspection-item">
        <div class="inspection-wraper">
          <img
            class="inspection-img"
            srcset="
              ./images/section-inspection-auto3.jpg    1x,
              ./images/section-inspection-auto3@2x.jpg 2x
            "
            src="./images/section-inspection-auto3.jpg"
            alt="Фотокартка поважної людини біля крутого автомобіля"
          />
        </div>
      </li>
    </ul>
    
    <div class="inspection-discription">
      <ul class="inspection-discription__list">
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Трансмісія</h3>
          <p class="inspection-text">
            Тестуємо КПП у різних режимах роботи, проводимо тест-драйв
            автомобіля. Дивимося стан коробки через комп'ютерну діагностику,
            якщо це дозволяє зробити автомобіль. Адаптації, залишки зчеплень,
            кількість лаунчів, перегріви тощо.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Компʼютерна діагностика</h3>
          <p class="inspection-text">
            Скануємо авто на предмет помилок, дивимося чи видаляли помилки, чи
            залишилися записи ударів у блоці безпеки, тестуємо проблемні системи
            моделі авто, якщо це необхідно і можливо (наприклад, знос ланцюга на
            VAG, адаптації АКПП на ZF), шукаємо сліди реального пробігу у всіх
            блоках авто, порівнюємо мотогодин на ДВС, кількість програмувань,
            інтервал змін масла в двигуні, заправок, змін колодок і безліч інших
            даних.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Кузов</h3>
          <p class="inspection-text">
            Знаходимо всі сліди втручання, починаючи від косметичних забарвлень
            і закінчуючи слідами тотала та серйозними зварювальними роботами.
            Все, що коли-небудь знімалося, розбиралося, фарбувалося,
            витягувалося, зварювалось або пилялось - буде виявлено, незалежно
            від того, наскільки добре це намагалися приховати.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Ходова частина</h3>
          <p class="inspection-text">
            Проводимо візуальний огляд днища та вузлів підвіски. Сайлентблоки,
            пильовики, дати виробництва важелів (стосується авто з невеликим
            пробігом), течі та запотівання на роздатці, редукторі, КПП,
            приводах, амортизаторах тощо. Перевірка стану шин, залишок
            протектора, рік випуску, стан колісних дисків. Діагностика на витягу
            за потреби
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul class="inspection-discription__list">
                <li class="inspection-discription__item">
          <h3 class="inspection-title">Безпека</h3>
          <p class="inspection-text">
            Перевіряємо наявність подушок безпеки, знаходимо обманки, стріляні
            ремені, сліди розбору салону, перешив або заміну торпеди, знімання
            керма, сліди кодування блоку SRS і так далі.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Гальмівна система</h3>
          <p class="inspection-text">
            Перевірка стану гальм, включаючи оцінку зносу гальмівних дисків та
            колодок. Перевіряємо рівень гальмівної рідини і аналізуємо режими
            експлуатації автомобіля, враховуючи стан гальм. Здійснюємо
            експертизу керамічних гальм, а також проводимо зважування автомобіля
            на спеціальному обладнанні.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Двигун</h3>
          <p class="inspection-text">
            Оглядаємо підкапотний простір на предмет течій олії, підтікання,
            слідів ремонту. Перевіряємо якість встановлених запчастин, стан
            фільтрів. Дивимося на частоту заміни олії, її наявність та якість,
            робочі рідини. Слухаємо роботу ДВС у різних режимах, дзвін ланцюга,
            стан ременів, наявність каталізаторів, нагару, перегріву, димності
            вихлопу, роботи КВКГ тощо. Обов'язкова перевірка системи охолодження
            ДВЗ. Ендоскоп, лік-тест, замір компресії, перевірка наявності
            частинок металевої стружки у фільтрі при необхідності.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>
        <li class="inspection-discription__item">
          <h3 class="inspection-title">Пробіг</h3>
          <p class="inspection-text">
            Наші очі та досвід виявляють непрямі ознаки, які неможливо обдурити.
            Це оцінка, яка базується на особистому спостереженні та зіставленні.
            Решта - формальності, такі як перевірка історії автомобіля в базах
            даних, дилерській історії з закритих баз, а також аналіз інформації,
            що міститься в блоках автомобіля.
          </p>
          <button type="button" class="inspection-btn">
            <svg class="inspection-svg">
              <use href="./images/symbol-defs.svg#icon-cross-min"></use>
            </svg>
          </button>
        </li>

      </ul>
    </div>
  </div>
</section>
