<section class="faq" id="section-faq">
  <div class="container container--faq">
    <div class="faq-wraper">
      <h2 class="section-title section-title--faq">
        <span class="section-title-word section-title-word-faq"
          >ви запитуєте -</span
        ><br />ми відповідаємо
      </h2>
      <p class="faq-text">
        Враховуйте те, що при пошуку автомобіля ми завжди починаємо з
        автомобілів без ДТП, забарвлень, з прозорою історією обслуговування та
        мінімальним реальним пробігом
      </p>
    </div>
    <ul class="faq-list">
      <li class="faq-item">
        <p class="faq-item__text">Як відбувається процес підбору авто?</p>
        <svg class="faq-icon" width="22" height="22">
          <use href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="faq-item__text">Які умови роботи та оплати?</p>
        <svg class="faq-icon" width="22" height="22">
          <use href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="faq-item__text">Чому у вас дорожче, ніж в інших?</p>
        <svg class="faq-icon" width="22" height="22">
          <use href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="faq-item__text">
          Чим я ризикую самостійно купуючи автомобіль?
        </p>
        <svg class="faq-icon" width="22" height="22">
          <use href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="faq-item__text">Які у мене є гарантії результату?</p>
        <svg class="faq-icon" width="22" height="22">
          <use href="../src/images/symbol-defs.svg#icon-arrow-dawn-min"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
