<section class="bg-white section-light our-contacts" id="section-contacts">
    <div class="container container--relative">
        <h2 class="section-title">
            <span class="section-title-word">наші </span><br />Контакти
        </h2>
        <div class="our-contacts__wrapper">
            <div class="our-contacts-wraper-img">
                <picture>
                    <!-- img for desktop -->
                    <source
                        media="(min-width: 1280px)"
                        srcset="
                            ./images/contactsSection/section-our-contacts-desktop.jpg    1x,
                            ./images/contactsSection/section-our-contacts-desktop@2x.jpg 2x
                        "
                        loading="lazy"
                    />
                    <!-- img for tablet -->
                    <source
                        media="(min-width: 744px)"
                        srcset="
                            ./images/contactsSection/section-our-contacts-tablet.jpg    1x,
                            ./images/contactsSection/section-our-contacts-tablet@2x.jpg 2x
                        "
                        loading="lazy"
                    />
                    <!-- img for mobile -->
                    <img
                        class="inspection-img"
                        src="./images/contactsSection/section-our-contacts-mobile.jpg"
                        srcset="
                            ./images/contactsSection/section-our-contacts-mobile.jpg    1x,
                            ./images/contactsSection/section-our-contacts-mobile@2x.jpg 2x
                        "
                        alt="Авто у русі на високій швидкості на фоні будинку у стилі бароко у вечірньому місті"
                        loading="lazy"
                    />
                </picture>
            </div>
            <div class="our-contacts-wrapper-info">
                <h3
                    class="our-contacts-wraper-card__title our-contacts--flex our-contacts-after"
                >
                    Ми завжди на звʼязку
                </h3>
                <ul class="our-contacts-list">
                    <li class="our-contacts-item">
                        <h4 class="our-contacts-wraper-card__subtitle">
                            Адреса
                        </h4>
                        <p class="our-contacts-wraper-card__text">
                            проспект Науки, 50, Голосіївський район, Київ​,
                            03083
                        </p>
                    </li>
                    <li class="our-contacts-item">
                        <h4 class="our-contacts-wraper-card__subtitle">
                            Графік роботи
                        </h4>
                        <p class="our-contacts-wraper-card__text">
                            Пн - Сб 09:00 - 20:00
                        </p>
                    </li>
                    <li class="our-contacts-item">
                        <h4 class="our-contacts-wraper-card__subtitle">
                            Електронна пошта
                        </h4>
                        <p class="our-contacts-wraper-card__text">
                            stackdetails@gmail.com
                        </p>
                    </li>
                    <li class="our-contacts-item">
                        <h4 class="our-contacts-wraper-card__subtitle">
                            Телефон
                        </h4>
                        <p class="our-contacts-wraper-card__text">
                            +380 96 759 39 82
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- instagram block -->
        <div class="our-contacts-wraper-link">
            <h3 class="our-contacts-wraper-card__title">
                Дивись приклади перевірки авто на нашій сторінці в
                <span class="our-contacts-wraper-card__span">Instagram</span>
            </h3>
            <a
                href="https://instagram.com/auto.trade.kyiv?igshid=NTc4MTIwNjQ2YQ=="
                class="btn btn-ligth"
                target="_blank"
                rel="noopener noreferrer"
                >Instagram
                <svg class="our-contacts-icon" width="24" height="24">
                    <use
                        href="../src/images/symbol-defs.svg#icon-logo-instagram-min"
                    ></use>
                </svg>
            </a>
            <div class="our-contacts-arrow">
                <svg class="our-contacts-arrow-icon">
                    <use href="../src/images/symbol-defs.svg#avtor-arrow"></use>
                </svg>
            </div>
            <div class="our-contacts-instagram-page">
                <picture>
                    <!-- img for tablet -->
                    <source
                        media="(min-width: 744px)"
                        srcset="
                            ./images/contactsSection/iphone-tablet.png    1x,
                            ./images/contactsSection/iphone-tablet@2x.png 2x
                        "
                        loading="lazy"
                    />
                    <!-- img for mobile -->
                    <img
                        class="our-contacts-instagram-icon"
                        src="./images/contactsSection/iphone-mobile.png"
                        srcset="
                            ./images/contactsSection/iphone-mobile.png    1x,
                            ./images/contactsSection/iphone-mobile@2x.png 2x
                        "
                        alt="зображення"
                        loading="lazy"
                    />
                </picture>
            </div>
        </div>
    </div>
</section>
