<section class="section-light our-contacts">
  <div class="container container--relative">
    <h2 class="section-title">
      <span class="section-title-word">наші </span><br />Контакти
    </h2>
    <div class="our-contacts-wraper-img">
      <img
        class="inspection-img"
        srcset="
          ./images/section-our-contacts.jpg    1x,
          ./images/section-our-contacts@2x.jpg 2x
        "
        src="./images/section-our-contacts.jpg"
        alt="Авто у русі на високій швидкості на фоні будинку у стилі бароко у вечірньому місті"
      />
    </div>
    <div class="our-contacts-wraper-card">
      <h3
        class="our-contacts-wraper-card__title our-contacts-wraper-card__title--before"
      >
        Ми завжди на звʼязку
      </h3>
      <h4 class="our-contacts-wraper-card__subtitle">Адреса</h4>
      <p class="our-contacts-wraper-card__text">
        проспект Науки, 50, Голосіївський район, Київ​, 03083
      </p>
      <h4 class="our-contacts-wraper-card__subtitle">Графік роботи</h4>
      <p class="our-contacts-wraper-card__text">Пн - Сб 09:00 - 20:00</p>
      <h4 class="our-contacts-wraper-card__subtitle">Електронна пошта</h4>
      <p class="our-contacts-wraper-card__text">stackdetails@gmail.com</p>
      <h4 class="our-contacts-wraper-card__subtitle">Телефон</h4>
      <p class="our-contacts-wraper-card__text">+380 96 759 39 82</p>
      <h4 class="our-contacts-wraper-card__subtitle"></h4>
      <p class="our-contacts-wraper-card__text"></p>
    </div>
    <h3
      class="our-contacts-wraper-card__title our-contacts-wraper-card__title--instagram"
    >
      Дивись приклади перевірки авто на нашій сторінці в Instagram
    </h3>
    <a
      href="https://instagram.com/auto.trade.kyiv?igshid=NTc4MTIwNjQ2YQ=="
      class="btn btn-ligth"
      target="_blank"
      rel="noopener noreferrer"
      >Instagram
      <svg class="our-contacts-icon" width="24" height="24">
        <use href="../src/images/symbol-defs.svg#icon-logo-instagram-min"></use>
      </svg>
    </a>
    <a
      href="https://instagram.com/auto.trade.kyiv?igshid=NTc4MTIwNjQ2YQ=="
      target="_blank"
      rel="noopener noreferrer"
      class="our-contacts-link"
    >
      <img
        src="./images/iphone.png"
        alt="iphone 14, на якому зображено instagram сторінку auto-trade-kyiv"
      />
    </a>
  </div>
</section>
