<section class="section-light">
  <div class="container">
    <h2 class="section-title">
      <span class="section-title-word">трохи</span><br />про нас
    </h2>
    <div class="about-wraper">
      <img
        class="about-img"
        srcset="./images/section-about.jpg 1x, ./images/section-about@2x.jpg 2x"
        src="./images/section-about.jpg"
        alt="Фотокартка поважної людини біля крутого автомобіля"
      />
      <div class="about-img-background"></div>
      <article class="about-article">
        <h2 class="about-article__title">На ринку автопідбору з 2015 року</h2>
        <p class="about-article-text">
          На сьогодні, зокрема на ринку вживаних автомобілів, знайти якісне та
          надійне авто без відповідного досвіду є ще тим викликом. Але не
          хвилюйтеся, ми тут, щоб допомогти Вам.
        </p>
        <p class="about-article-text">
          Наш головний напрямок в автомобільному бізнесі зовсім не підбір, а
          продаж автомобілів, що становить одну з наших переваг. У сфері
          продажів ми часто стикаємося з так званими "експертами", які не
          викликають довіри. Більшість з них обмежується використанням
          товщиноміра, додатка "авто номери" та недостатньою якістю китайської
          діагностики.
        </p>
        <p class="about-article-text">
          Натомість наші фахівці наділені аналітичним мисленням, мають розвинену
          дедукцію та постійно оновлюють свої знання на практиці. Ми володіємо
          глибокими знаннями та багаторічним досвідом в автомобільній сфері, що
          дозволяє нам проводити ретельну перевірку автомобілів, аналізувати їх
          технічний стан та історію, і все це з урахуванням Ваших індивідуальних
          потреб та бюджету.
        </p>
      </article>
    </div>
  </div>
</section>
