<section class="inspection" id="section-inspection">
    <div class="container">
        <h2 class="section-title">
            <span class="section-title-word">що саме </span><br />перевіряємо
        </h2>
        <div class="inspection-gallery">
        <ul class="inspection-list swiper-wrapper" >
            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture1.jpg    1x,
                            ./images/galleryInspection/picture1@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture1.jpg"
                        alt="Рука майстра, яка тримає фарбомір, та проводить виміри пошкоджень автомобіля"
                    />
                </div>
            </li>

            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture2.jpg    1x,
                            ./images/galleryInspection/picture2@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture2.jpg"
                        alt="Фотокартка автомобіля з відкритим капотом, який стоїть на станції обслуговування"
                    />
                </div>
            </li>
            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture3.jpg    1x,
                            ./images/galleryInspection/picture3@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture3.jpg"
                        alt="Фотокартка автомобіля з відкритим капотом, який стоїть на станції обслуговування"
                    />
                </div>
            </li>
            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture4.jpg    1x,
                            ./images/galleryInspection/picture4@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture4.jpg"
                        alt="Рука майстра, яка тримає фарбомір, та проводить виміри пошкоджень автомобіля"
                    />
                </div>
            </li>

            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture5.jpg    1x,
                            ./images/galleryInspection/picture5@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture5.jpg"
                        alt="Фотокартка автомобіля з відкритим капотом, який стоїть на станції обслуговування"
                    />
                </div>
            </li>
            <li class="inspection-item inspection-slide">
                <div class="inspection-wraper">
                    <img
                        class="inspection-img"
                        srcset="
                            ./images/galleryInspection/picture6.jpg    1x,
                            ./images/galleryInspection/picture6@2x.jpg 2x
                        "
                        src="./images/galleryInspection/picture6.jpg"
                        alt="Фотокартка поважної людини біля крутого автомобіля"
                    />
                </div>
            </li>
        </ul>
      </div>

        <div class="inspection-discription">
            <ul class="inspection-discription__list">
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">
                            Трансмісія
                        </h3>
                        <p class="inspection-discription__text">
                            Тестуємо КПП у різних режимах роботи, проводимо
                            тест-драйв автомобіля. Дивимося стан коробки через
                            комп'ютерну діагностику, якщо це дозволяє зробити
                            автомобіль. Адаптації, залишки зчеплень, кількість
                            лаунчів, перегріви тощо.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">
                            Компʼютерна діагностика
                        </h3>
                        <p class="inspection-discription__text">
                            Скануємо авто на предмет помилок, дивимося чи
                            видаляли помилки, чи залишилися записи ударів у
                            блоці безпеки, тестуємо проблемні системи моделі
                            авто, якщо це необхідно і можливо (наприклад, знос
                            ланцюга на VAG, адаптації АКПП на ZF), шукаємо сліди
                            реального пробігу у всіх блоках авто, порівнюємо
                            мотогодин на ДВС, кількість програмувань, інтервал
                            змін масла в двигуні, заправок, змін колодок і
                            безліч інших даних.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">Кузов</h3>
                        <p class="inspection-discription__text">
                            Знаходимо всі сліди втручання, починаючи від
                            косметичних забарвлень і закінчуючи слідами тотала
                            та серйозними зварювальними роботами. Все, що
                            коли-небудь знімалося, розбиралося, фарбувалося,
                            витягувалося, зварювалось або пилялось - буде
                            виявлено, незалежно від того, наскільки добре це
                            намагалися приховати.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">
                            Ходова частина
                        </h3>
                        <p class="inspection-discription__text">
                            Проводимо візуальний огляд днища та вузлів підвіски.
                            Сайлентблоки, пильовики, дати виробництва важелів
                            (стосується авто з невеликим пробігом), течі та
                            запотівання на роздатці, редукторі, КПП, приводах,
                            амортизаторах тощо. Перевірка стану шин, залишок
                            протектора, рік випуску, стан колісних дисків.
                            Діагностика на витягу за потреби
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <ul class="inspection-discription__list">
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">Безпека</h3>
                        <p class="inspection-discription__text">
                            Перевіряємо наявність подушок безпеки, знаходимо
                            обманки, стріляні ремені, сліди розбору салону,
                            перешив або заміну торпеди, знімання керма, сліди
                            кодування блоку SRS і так далі.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">
                            Гальмівна система
                        </h3>
                        <p class="inspection-discription__text">
                            Перевірка стану гальм, включаючи оцінку зносу
                            гальмівних дисків та колодок. Перевіряємо рівень
                            гальмівної рідини і аналізуємо режими експлуатації
                            автомобіля, враховуючи стан гальм. Здійснюємо
                            експертизу керамічних гальм, а також проводимо
                            зважування автомобіля на спеціальному обладнанні.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">Двигун</h3>
                        <p class="inspection-discription__text">
                            Оглядаємо підкапотний простір на предмет течій олії,
                            підтікання, слідів ремонту. Перевіряємо якість
                            встановлених запчастин, стан фільтрів. Дивимося на
                            частоту заміни олії, її наявність та якість, робочі
                            рідини. Слухаємо роботу ДВС у різних режимах, дзвін
                            ланцюга, стан ременів, наявність каталізаторів,
                            нагару, перегріву, димності вихлопу, роботи КВКГ
                            тощо. Обов'язкова перевірка системи охолодження ДВЗ.
                            Ендоскоп, лік-тест, замір компресії, перевірка
                            наявності частинок металевої стружки у фільтрі при
                            необхідності.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li class="inspection-discription__item">
                    <div class="inspection-discription__wraper">
                        <h3 class="inspection-discription__title">Пробіг</h3>
                        <p class="inspection-discription__text">
                            Наші очі та досвід виявляють непрямі ознаки, які
                            неможливо обдурити. Це оцінка, яка базується на
                            особистому спостереженні та зіставленні. Решта -
                            формальності, такі як перевірка історії автомобіля в
                            базах даних, дилерській історії з закритих баз, а
                            також аналіз інформації, що міститься в блоках
                            автомобіля.
                        </p>
                    </div>
                    <button type="button" class="inspection-discription__btn">
                        <svg class="inspection-svg">
                            <use
                                class="inspection-svg__cross"
                                href="./images/symbol-defs.svg#icon-cross-min"
                            ></use>

                            <use
                                class="inspection-svg__minus"
                                href="./images/symbol-defs.svg#icon-minus"
                            ></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
