<section class="order">
    <div class="container container--flex">
        <h2 class="order-title">Дізнайтеся вартість підбору авто</h2>
        <p class="order-text">
          Не витрачайте свій час і енергію на самостійний пошук. Довіртеся команді наших експертів та станьте щасливим власником свого ідеального авто.
        </p>
        <form class="order-form">
            <div class="order-form__wraper">
                <label class="order-form__label">
                    <input
                        type="text"
                        class="order-form__input"
                        name="name"
                        placeholder="Ваше імʼя"
                        required
                    />
                </label>
                <label class="order-form__label order-form__label--margin">
                    <img
                        class="order-form-icon"
                        width="24"
                        height="24"
                        src="./images/flag-ukraine.png"
                        alt=""
                    />
                    <span class="order-form-prefix">+380</span>
                    <input
                        type="tel"
                        class="order-form__input order-form__flag"
                        name="phone"
                        placeholder="00 000 00 00"
                        required
                    />
                </label>
            </div>
            <button type="submit" class="btn btn--margin">
                Дізнатися ціну
            </button>
        </form>
    </div>
</section>
