<footer class="footer">
  <div class="container container--footer">
    <div class="footer-wraper">
      <a
        href="https://instagram.com/auto.trade.kyiv?igshid=NTc4MTIwNjQ2YQ=="
        target="_blank"
        rel="noopener noreferrer"
        >
      <svg class="" width="156" height="156">
        <use href="../src/images/symbol-defs.svg#icon-logo-footer-min"></use>
      </svg>
        </svg>
      </a>
      <p class="footer-text">
        Професійний автопідбір. Експертний огляд автомобіля. Підбір авто під
        ключ. Київ та вся Україна
      </p>
      <p class="footer-data">© 2023 AUTO TRADE KYIV</p>
    </div>
    <ul class="footer-list">
      <li class="footer-item">Про нас</li>
      <li class="footer-item">Переваги</li>
      <li class="footer-item">Послуги</li>
      <li class="footer-item">Відгуки</li>
      <li class="footer-item">Питання</li>
      <li class="footer-item">Контакти</li>
    </ul>

    <div class="footer-wraper-creators">
      <svg
        class="footer-wraper-creators__icon footer-item"
        width="24"
        height="24"
      >
        <use href="../src/images/symbol-defs.svg#icon-arrow-up-min"></use>
      </svg>
      <p class="footer-data">Design by @Iryna Burkatska <br> Development by @Stanislav Husiev</p>
    </div>
  </div>
</footer>
