<section class="order-bottom">
    <div class="container container--flex container--order-bottom">
        <h2 class="order-title order-title--bottom">Давайте зідзвонимося</h2>
        <p class="order-text order-text--bottom">
            Якщо у Вас є будь-які питання, ми будемо раді на них відповісти.
            Просто заповніть форму і ми звʼяжемося з Вами найближчим часом
        </p>
        <form
            class="order-form order-form--bottom"
            method="POST"
            action="../helpers/sendmail.php"
        >
            <div class="order-form__wraper">
                <label class="order-form__label">
                    <input
                        type="text"
                        class="order-form__input order-form__input--bottom"
                        name="name"
                        placeholder="Ваше імʼя"
                        required
                    />
                </label>
                <label class="order-form__label order-form__label--margin">
                    <img
                        class="order-form-icon"
                        width="24"
                        height="24"
                        src="./images/flag-ukraine.png"
                        alt=""
                    />
                    <span class="order-form-prefix order-form-prefix--bottom"
                        >+380</span
                    >
                    <input
                        type="tel"
                        class="order-form__input order-form__flag order-form__input--bottom"
                        name="phone"
                        placeholder="00 000 00 00"
                        pattern="[0-9]{9}"
                        title="Будь ласка, введіть 9 цифр"
                        required
                    />
                </label>
            </div>

            <button type="submit" class="btn order-form--btn">
                замовити дзвінок
            </button>
        </form>
        <div class="order-bottom-bgr">
            <img
                src="./images/section-order-bottom.png"
                alt="Напис безкоштовно позаду фону"
            />
        </div>
    </div>
</section>
