// this style helps us hide all the scrolling on the site before the page loads
body{
    overflow: hidden;
}


.loader-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: 1000;
}

#loader {
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
