.hero{
    max-width: $desktop-wide;
    height: 920px;
    margin: 0px auto 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0.52) 100%), 
    url(../images/Main-photo.jpg), lightgray -6.167px -151px / 135.648% 159.239% no-repeat;
    background-size: cover;
}
.hero-location{
    display: flex;
    align-items: flex-end;
    gap: $gap-primary;
    margin-top: 136px;
}

.header-location__text{
    font-size: 16px;
    line-height: $pimary;
    font-weight: $medium;
    color: $white-primary-rgb;
}

.main-title{
    margin-bottom: 44px;
    margin-top: 20px;
    width: 650px;
    font-size: 40px;
    font-weight: $bold;
    line-height: $secondary; 
    text-transform: uppercase;
    color: $white-primary;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-primary;
    padding: 0px 20px 0px;
    width: 193px;
    height: 52px;
    font-size: 14px;
    font-weight: $medium;
    line-height: $pimary;
    color: $white-primary;
    background-color: $accent;
    border: none;
    text-transform: uppercase;
    transition: color $transition-duration;
    transition: background-color $transition-duration;
        
    &:hover,
    &:focus {
        border: 2px solid $white-primary;
        background-color: $black-secondary;
        color: $white-primary;
    }
}


.hero-table{
    height: 452px;
}

.hero-table__column{
    position: relative;
    width: 320px;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to top, 
    #9a9797, 
    rgba(235, 235, 235, 0.00) 100%
    ) 1 100%;
    
    &:not(:last-child){
        border-right: transparent;
    }
        
    &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 40px;
        background-color: $accent;
        top: 50%;
        right: 100%;
        transform: translateX(50%);
    }

    &:last-child::after{
        position: absolute;
        content: "";
        width: 2px;
        height: 40px;
        background-color: $accent;
        top: 50%;
        left: 100%;
        transform: translateX(50%);
    }
}

.hero-table__text{
    margin-top: 52px;
    text-align: center;
    color: $white-primary-rgb;
    font-size: 16px;
    line-height: $thirdery;
}

.hero-table__element{
    font-size: 32px;
    line-height: $thirdery;
    font-weight: $medium;
    color: $white-primary;
}

