.qualities {
    padding-bottom: 100px;
}

.qualities-title {
    color: $white-primary;
}

.section-title-word--color {
    color: $white-primary-rgb;
}

.qualities-list {
    display: flex;
    width: 1590px;

    // flex-wrap: wrap;
    // column-gap: 185px;
    // justify-content: center;
    // padding: 52px 0px 52px;
}

.qualities-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px;
    gap: $gap-thirdery;
    width: 302px;
    height: 256px;

    border: 1px solid rgba(235, 235, 235, 0.12);
    background: radial-gradient(
        115.28% 115.28% at 50% 50%,
        rgba(250, 250, 250, 0.04) 0%,
        rgba(250, 250, 250, 0) 100%
    );
    box-shadow: 0px 4px 52px 0px rgba(235, 235, 235, 0.02);
    color: $white-primary-rgb;

    @media screen and (min-width: $tablet) {
        &:nth-child(-n + 3) {
            margin-bottom: -45px;
        }
    }
}

.qualities-item_wraper {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-primary;
}

.qualities-item__title {
    text-transform: uppercase;
    color: $white-primary;
}

.qualities-item__text {
    font-size: 14px;
    line-height: $secondary2;
    font-weight: $regular;
    color: $white-primary-rgb;
}
