.inspection-gallery {
    overflow: hidden;
}

.inspection-list {
    display: flex;
    justify-content: space-between;
    margin: 52px 0px 52px;
}

.inspection-discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

.inspection-wraper {
    display: flex;
    width: 315px;
    background-color: $grey-border;

    @media screen and (min-width: $tablet) {
        width: 410px;
    }
}

.inspection-discription__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-bottom;
    padding: 12px 0px 12px;
}

.inspection-discription__title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: $font-size-secondary;
    font-weight: $medium-second;
    text-transform: uppercase;
    color: $black-primary;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        width: 193px;
        margin-bottom: 0px;
    }
}

.inspection-discription__wraper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        align-items: flex-end;
    }
}

.inspection-discription__text {
    max-width: 302px;
    font-weight: $regular;
    line-height: $secondary2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: $tablet) {
        margin-left: 24px;
    }
}

.expanded {
    display: flex;
}

.inspection-discription__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    transition: color $transition-duration;

    &:hover,
    &:focus {
        color: $accent;
    }

    @media screen and(min-width: $tablet) {
        margin-top: 0px;
    }
}

.inspection-svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
}

.inspection-svg__cross {
    display: block;
}

.inspection-svg__minus {
    display: none;
}
