.services {
    position: relative;
    padding-bottom: 100px;
}

.container--position {
    position: relative;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    @media screen and (min-width: $desktop) {
        justify-content: center;
        gap: 48px;
        margin-top: 52px;
    }
}

.services-item{
    border-top: 6px solid $accent;
}

.services-item__wraper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // width: 302px;
    height: 572px;
    padding: 24px 54px;
    border: 1px solid $black-rgb-card;
    background: radial-gradient(
        115.28% 115.28% at 50% 50%,
        rgba(26, 26, 26, 0.08) 0%,
        rgba(26, 26, 26, 0) 100%
    );
    box-shadow: 0px 4px 52px 0px rgba(51, 51, 51, 0.12);
}

.services-title {
    color: $black-primary;
    text-align: center;
    font-size: 20px;
    font-weight: $medium-second;
    line-height: $pimary;
    
    @media screen and (min-width: $tablet) {
        font-size: 28px;    
    }
}

.services-price {
    color: $accent;
    text-align: center;
    text-transform: uppercase;
    font-weight: $medium-second;
}

.services-list-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.services-list-card__text {
    font-size: 15px;
}

.text-black {
    font-weight: $medium-second;
    color: $black-primary;
}

.btn-ligth {
    border: 2px solid $accent;
    background-color: transparent;
    color: $accent;
    margin: 0px;
    transition: color $transition-duration;
    transition: background-color $transition-duration;
    &:hover,
    &:focus {
        border: none;
        background-color: $accent;
        color: $white-primary;
    }
}
