.hero {
    max-height: 812px;
    background: url('../images/hero.jpg');
    background-position: 59%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @media screen and (min-width: $tablet) {
        max-height: 1133px;
    }
}

.hero-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop) {
        flex-direction: column;
    }
}

.hero-location {
    display: flex;
    align-items: flex-end;
    gap: $gap-primary;
}

.header-location__text {
    font-size: $font-size-secondary;
    line-height: $pimary;
    font-weight: $medium;
    color: $white-primary-rgb;
}

.main-title {
    display: flex;
    margin-bottom: 44px;
    margin-top: 20px;
    text-align: center;
    font-size: $font-size-thirdery;
    font-weight: $bold;
    line-height: $secondary2;
    text-transform: uppercase;
    color: $white-primary;

    @media screen and (min-width: $tablet) {
        font-size: 48px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-primary;
    padding: 0px 20px 0px;
    width: 193px;
    height: 52px;
    font-size: 14px;
    font-weight: $medium;
    line-height: $pimary;
    color: $white-primary;
    background-color: $accent;
    border: none;
    text-transform: uppercase;
    transition: color $transition-duration;
    transition: background-color $transition-duration;

    &:hover,
    &:focus {
        border: 2px solid $white-primary;
        background-color: $black-secondary;
        color: $white-primary;
    }
}

.hero-table {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.hero-table-item {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 166px;
    height: 205px;
    font-size: 32px;
    line-height: $thirdery;
    font-weight: $medium;
    color: $white-primary;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to top, 
    #9a9797, 
    rgba(235, 235, 235, 0.00) 100%
    ) 1 100%;
    
    &:not(:last-child){
        border-right: transparent;
    }

    &::before, &:last-child::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 40px;
        background-color: $accent;
        top: 43%;
        transform: translateX(50%);
      }
    
      &::before {
        right: 100%;
      }
    
      &:last-child::after {
        left: 99%;
      }

}

.hero-table-text {
    width: 99px;
    text-align: center;
    color: $white-primary-rgb;
    font-size: $font-size-secondary;
    line-height: normal;
}

