.footer{
    background-color: $black-primary;
}

.container--footer{
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 52px;
}

.footer-wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
}

.footer-text{
    color: $white-primary-rgb;
    font-size: 14px;
    font-weight: $medium;
    line-height: $secondary2;
}

.footer-data{
    color: $white-primary-rgb;
    font-size: 14px;
    font-weight: $regular;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: $gap-secondary;
    font-size: 20px;
    font-weight: $medium-second;
    line-height: $secondary2;
}

.footer-item{
    color: $white-primary;
    transition: $transition-duration;

    &:hover,
    &:focus{
        color: $accent;
    }
}

.footer-wraper-creators{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    gap: $gap-primary;
}

.footer-wraper-creators__item{
    display: flex;
    color: $white-primary-rgb;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}
