
.container--color-bgr{
    background: none;
    padding-bottom: 100px;
}

.order-title--bottom{
    color: $black-primary;
    font-weight: $medium-second;
}

.order-text--bottom{
    color: $black-secondary;
}

.order-form__input--bottom {
    color: $black-primary;
    border-bottom: 1px solid $black-secondary;

    &::placeholder {
        color: $black-secondary;
    }

    &:focus {
        outline: 1px solid $black-secondary;
    }
}

.order-form--bottom{
    position: relative;
    z-index: 1;
}

.order-bottom-bgr{
    position: absolute;
    margin-top: 169px;
    margin-left: 151px;
}