.section-title {
    font-size: 36px;
    text-transform: uppercase;
    color: $black-primary;
}

.section-title-word {
    font-size: 32px;
    font-weight: $medium;
    font-weight: $light;
    color: $black-rgb;
}