.container--order-bottom {
    position: relative;
    background: none;

    @media screen and (min-width: $tablet) {
        padding-bottom: 90px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 160px;
    }
}

.order-title--bottom {
    color: $black-primary;
    font-size: $font-size-thirdery;
    font-weight: $medium-second;
    text-align: start;

    @media screen and(min-width: $tablet) {
        text-align: center;
    }

    @media screen and(min-width: $desktop) {
        text-align: start;
        font-size: $font-size-seventh;
    }
}

.order-text--bottom {
    color: $black-secondary;
    text-align: start;

    @media screen and(min-width: $tablet) {
        text-align: center;
    }

    @media screen and(min-width: $desktop) {
        text-align: start;
    }
}

.order-form__input--bottom {
    color: $black-primary;
    border-bottom: 1px solid $black-secondary;
    &::placeholder {
        color: $black-secondary;
    }
}

.order-form-prefix--bottom {
    color: $black-primary;
}

.order-form--bottom {
    @media screen and (min-width: $desktop) {
        gap: 20px;
    }
}

.order-form--btn {
    margin: 0 auto 0;

    @media screen and (min-width: $tablet) {
        margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
        margin: 0;
    }
}

.order-bottom-bgr {
    position: absolute;
    bottom: 0%;
    right: 0%;

    @media screen and (min-width: $desktop) {
        top: 65%;
        right: 0%;
    }
}
