.container--clients-position {
    position: relative;

    @media screen and (min-width: $tablet) {
        padding-bottom: 52px;
    }
}

.clients-title {
    color: $black-primary;
    font-weight: $medium-second;
    line-height: $pimary;
    margin-top: 40px;

    @media screen and (min-width: $tablet) {
        font-size: 28px;
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        top: 17%;
        left: 51%;
        width: 519px;
        margin-top: 0px;
    }
}

.clients-list {
    display: flex;

    @media screen and (min-width: $desktop) {
        justify-content: center;
    }
}

.clients-item {
    width: 335px;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        width: $tablet - 80px;
        flex-direction: row;
        gap: 20px;
    }

    @media screen and (min-width: $desktop) {
        gap: 133px;
        align-items: center;
        width: auto;
    }
}

.client-img-wraper {
    margin-top: 40px;
    width: 335px;
    height: 339px;
    background-color: $placeholder-color;

    @media screen and (min-width: $tablet) {
        width: 322px;
        height: 364px;
    }

    @media screen and (min-width: $desktop) {
        width: 411px;
        height: 444px;
    }
}

.client-img {
    @media screen and (min-width: $tablet) {
        height: 364px;
    }

    @media screen and (min-width: $desktop) {
        height: 444px;
    }
}

.clients-discription {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px;
    margin-top: 40px;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;

    @media screen and (min-width: $tablet) {
        width: 322px;
    }

    @media screen and (min-width: $desktop) {
        width: 519px;
        height: 279px;
    }
}

.clients-subtitle {
    color: $black-primary;
    font-weight: $medium-second;
    line-height: $secondary2;
    text-transform: uppercase;
}

.clients-text {
    margin-top: 20px;
    line-height: $secondary2;

    @media screen and(min-width: $desktop) {
        font-size: $font-size-pimary;
    }
}

.inspection-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background-color: $white-base;

    &:disabled {
        cursor: no-drop;
    }
}

.rotate-btn {
    transform: rotate(180deg);
}

.wrapper-for-btn {
    position: absolute;
    top: 350px;
    width: 335px;
    display: flex;
    justify-content: space-between;

    @media screen and(min-width: $tablet) {
        top: 95%;
        right: 276px;
        width: 85px;
    }

    @media screen and (min-width: $desktop) {
        top: 87%;
        right: 43%;
    }
}
