.our-contacts{
    padding-bottom: 193px;
}

.container--relative{
    position: relative;
}

.our-contacts-wraper-img{
    width: 925px;
    margin-top: 52px;
    margin-left: -80px;
    height: auto;
    box-shadow: 0px 0px 48px 0px $black-shadow;
}

.our-contacts-wraper-card{
    position: absolute;
    top: 31%;
    right: 7%;
    display: flex;
    flex-direction: column;
    gap: $gap-primary;
    padding: 52px 70px 52px 109px;
    width: 620px;
    background-color: $grey;
}

.our-contacts-wraper-card__title{
    margin-bottom: 24px;
    color: $black-primary;
    font-size: 28px;
    font-weight: $medium-second;
    line-height: $secondary2;
}

.our-contacts-wraper-card__title--before{
    &::before{
        content: "";
        height: 100%;
        width: 100%;
        background: url("../images/blue-heart.png") no-repeat;
        display: block;
        position: absolute;
        top: 14%;
        left: 73%;
    }
}

.our-contacts-wraper-card__title--instagram{
    width: 671px;
    margin-top: 100px;
    margin-bottom: 52px;
}

.our-contacts-icon{
    fill: currentColor;
}


.our-contacts-link{
    position: absolute;
    top: 83%;
    left: 64%;
}