.order {
    // max-width: $desktop-wide;
    // height: 512px;
    padding: 60px 0px;
    margin: 0px auto 0px;
    background-image: url(../images/section-order-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: $tablet) {
        background-image: url(../images/section-order-tablet.jpg);
    }

    @media screen and (min-width: $desktop) {
        padding: 100px 0px;
        background-image: url(../images/section-order.jpg);
    }
}

.container--flex {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 1px solid rgba(235, 235, 235, 0.12);
    border-bottom: 1px solid rgba(235, 235, 235, 0.12);
    background: radial-gradient(
        115.28% 115.28% at 50% 50%,
        #1a1a1a 0%,
        rgba(26, 26, 26, 0) 100%
    );

    @media screen and (min-width: $tablet) {
        padding-top: 48px;
        padding-bottom: 52px;
    }
}

.order-title {
    color: $white-primary;
    font-weight: $medium;
    text-align: center;
    font-size: $font-size-thirdery;

    @media screen and (min-width: $tablet) {
        font-size: 28px;
    }

    @media screen and (min-width: $desktop) {
        text-align: start;
    }
}

.order-text {
    margin: 20px 0 40px;
    color: $white-primary-rgb;
    line-height: $secondary2;
    text-align: center;

    @media screen and (min-width: $tablet) {
        font-size: $font-size-pimary;
        margin: 32px 0 44px;
    }

    @media screen and (min-width: $desktop) {
        width: 628px;
        text-align: start;
    }
}

.order-form__wraper {
    @media screen and (min-width: $tablet) {
        display: flex;
        gap: $gap-thirdery;
    }

    @media screen and (min-width: $desktop) {
        align-items: flex-end;
    }
}

.order-form {
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

.order-form__label {
    position: relative;
    display: flex;
    width: 100%;

    @media screen and (min-width: $desktop) {
        width: 302px;
    }
}

.order-form__label--margin {
    margin-top: 20px;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        margin: 0;
    }
}

.order-form__input {
    width: 100%;
    padding: 12px 0px 12px;
    color: $white-primary;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $white-primary-rgb;
    transition: color $transition-duration;
    transition: outline $transition-duration;

    &::placeholder {
        color: $white-primary-rgb;
    }

    &:focus {
        outline: none;
    }
}

.order-form__flag {
    position: relative;
    padding-left: 73px;
}

.order-form-icon {
    position: absolute;
    top: 7px;
}

.order-form-prefix {
    position: absolute;
    top: 12px;
    left: 34px;
    color: $white-base;
}

.btn--margin {
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        margin-top: 44px;
    }

    @media screen and (min-width: $desktop) {
        margin: 0 0 0 20px;
    }
}
