.qualities-title {
    color: $white-primary;
}

.section-title-word--color {
    color: $white-primary-rgb;
}

.section-gallery {
    position: relative;
    margin-top: 40px;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
        overflow: visible;
        width: auto;
        margin-top: 52px;
    }
}

.section-gallery__btn {
    position: absolute;
    display: block;
    background: transparent;
    border: none;
    top: 100px;
}

.section-gallery__icon {
    width: 25px;
    height: 256px;
    fill: $white-base;
}

.section-gallery__btn--prev {
    display: none;
    transform: rotate(180deg);
    left: 0px;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.section-gallery__btn--next {
    right: 20px;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.qualities-list {
    display: flex;
    width: 1610px;

    @media screen and (min-width: $tablet) {
        display: grid;

        gap: $gap-thirdery;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: auto;
        transition: none;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 124px;
    }

    @media screen and (min-width: $desktop-wide) {
        column-gap: 186px;
    }
}

.qualities-item--center {
    grid-column: span 2;
}

.qualities-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px;
    width: 302px;
    height: 256px;

    border: 1px solid rgba(235, 235, 235, 0.12);
    background: radial-gradient(
        115.28% 115.28% at 50% 50%,
        rgba(250, 250, 250, 0.04) 0%,
        rgba(250, 250, 250, 0) 100%
    );
    box-shadow: 0px 4px 52px 0px rgba(235, 235, 235, 0.02);
    color: $white-primary-rgb;

    @media screen and (min-width: $tablet) {
        width: 322px;
    }

    @media screen and (min-width: $desktop) {
        width: 302px;
        &:nth-last-child(-n + 2) {
            margin-top: -70px;
        }
    }
}

.qualities-item_wraper {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-primary;
}

.qualities-item__title {
    text-transform: uppercase;
    color: $white-primary;
}

.qualities-item__text {
    font-size: 14px;
    line-height: $secondary2;
    font-weight: $regular;
    color: $white-primary-rgb;
}
