.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 109px;
    margin: auto 20px;
    width: 1280px;
    gap: 24px;
    background-color: $black-secondary;
    border: 1px $black solid;
}

.header-nav{
    display: flex;
}

.header-logo{
    margin-right: 165px;
}

.header-list{
    display: flex;
    gap: 24px;
}

.header-list-item{
    color: $white-secondary;
}

.header-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 32px;
    width: 193px;
    border: 1px $white-primary solid;
    border-radius: 50px;
    color: $white-primary;
    text-transform: uppercase;
}
