.container--header {
    background-color: $black-primary;

    @media screen and (min-width: $mobile) and (max-width: 739.98px) {
        padding: 0;
        width: 100%;
    }
}

.header-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0;
    padding: 52px 20px 10px;

    gap: $gap-secondary;
    min-width: 320px;

    z-index: 100;

    @media screen and (min-width: $mobile) {
        width: $mobile - 2px;
        min-width: 0px;
    }

    @media screen and (min-width: $tablet) {
        position: fixed;

        width: 664px;
        padding: 8px 20px;
        top: 20px;
        background-color: $grey-background;
        backdrop-filter: blur(2px);
    }

    @media screen and (min-width: $desktop) {
        width: 1160px;
        padding: 11px 60px;
    }

    @media screen and (min-width: $desktop-wide) {
        width: 1280px;
        padding: 11px 109px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;

    @media screen and (min-width: $desktop-wide) {
        margin-right: 165px;
    }
}

.header-logo-icon {
    width: 40px;
    height: 40px;
    @media screen and (min-width: $tablet) {
        width: 56px;
        height: 56px;
    }
}

.menu {
    padding-right: 12px;
    font-size: $font-size-sixth;
    color: $white-primary;
    transition: $transition-duration;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.header-burger-menu {
    color: $white-base;
    border: none;
    background-color: transparent;
    transition: color $transition-duration;

    &:hover,
    &:focus {
        color: $accent;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.header-list {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        gap: $gap-thirdery;
    }
}

.header-list-item {
    padding: 15px 0px;
    font-size: $font-size-secondary;
    color: $white-secondary;
    cursor: pointer;
    transition: color $transition-duration;

    &:hover,
    &:focus {
        color: $accent;
    }
}

.header-contacts {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 12px;
        gap: $gap-primary;
        width: 193px;
        border: 1px $white-primary solid;
        border-radius: 50px;
        color: $white-primary;
        text-transform: uppercase;
        transition: color $transition-duration;
        transition: border-color $transition-duration;
    }

    &:hover,
    &:focus {
        border-color: $accent;
    }
}
