<div class="container-header">
  <nav class="header-nav">
    <div class="container-wraper">
      <a class="header-logo">Logo</a>
    </div>
    <ul class="header-list">
      <li class="header-list-item">Про нас</li>
      <li class="header-list-item">Послуги</li>
      <li class="header-list-item">Перевірка авто</li>
      <li class="header-list-item">Відгуки</li>
      <li class="header-list-item">Питання</li>
      <li class="header-list-item">Контакти</li>
    </ul>
  </nav>
  <a href="tel: +380967593982" class="header-contacts">Звʼязатися</a>
</div>
